.login {
    min-width: 1400px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url('../assets/login/bg1.png') 20% 40%/600px no-repeat scroll,
                url('../assets/login/bg.png');
}
.login-title {
    color: #fff;
    font-weight: 100;
    position: absolute;
    top: 43%;
    left: 28%;
}
.login-box {
    width: 350px;
    margin: auto;
    position: absolute;
    top: 20%;
    left: 45%;
    right: 0;
}
.login-form{
    padding: 20px 40px 20px 0px;
}
.login-form .el-form-item{
    margin-bottom: 5px;
}
.login-form label {
    float: none;
    display: inline-block;
    text-align: left;
    margin-left: 42px;
    color: #fff;
}
.login-form input {
    border:none;
}
.login-form input:focus{
    border-color: #38B3B4;
}
.login-form .el-form-item__content {
    margin-left: 40px !important;
}
.login-form-staticCode .el-input {
    width: 70%;
    float: left;
}
.login-form-staticCode input {
    border-radius: 4px 0px 0px 4px;
    border-right: 0;
}
.login-form-staticCode img {
    width: 30%;
    height: 36px;
    float: right;
    background: #ccc;
    border-radius:0px 4px 4px 0px;
}
.login-form-submit-button {
    width: 40%;
    display: block;
    margin: auto;
    background: #000;
    border:none;
    padding:8px 19px;
    margin-top: 30px;
}
.login-form-submit-button:hover, .login-form-submit-button:focus {
    background: #000;
}
.login-form-submit-button:active {
    background: #2d2d2d;
}